* { box-sizing: border-box; }

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;    
}

#log {
    position: fixed;
    overflow-y: scroll;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    padding: 1em;
    font-family: Consolas, monospace;
}